:root {
  --main-bg-color: rgb(245, 245, 245);
  --main-border-color: #c5c5c5;
  --cnt-bg-color: #e3e3e3;
  --border-active-color: #388bfd;
  --dark-gray-color: gray;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 50px;
  margin-left: 30px;
}

.nav-btn {
  margin-right: 90px;
  cursor: pointer;
}

.search-input {
  background-size: 20px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAh1JREFUWEftl40thEEQht+rgBKoABWgAlSADqgAFaACVIAKUAEqQAdUQJ5kJ5ms/XZn73LnJDfJl1zu25197p2fnRtpzmw0Zzz610ArknYkbUni83pS90XSu6RHSffp89jCRxTi8BNJB8FTriWdjQvWAtqVdCVpOQhjyz4lHUq669xXzSEUAcbbkyQUIEw8GKHjYf1mth4o1odtSCGUuXVeXiUdpTypOSe/LiStuUV7PUqVgMiZZxcmYDiIMESM8JLgBsW+1ej+EhAS76eTe2EMOIe6iRZFDoQ6b06G7UCYhlRD1Qf3EpVoD1XLgciT87SDBMbpJEboLNGPU351AVGmND+su0IKJ/lKpWlSLF1AlLIl44Yr7Zafofe0AwoEwzc+u4C+3epW02z5tvddPvNDuzYHicznV6Tj50DTDFmoSHKgaSb1Zer2XTnky56SpQ9NYhOX/bQaI/mD7+b107o6yClUajrKZOTqoEvbEMd8dBqReuhyBWTJ9Y8eqBzmI4GFflR0/ACQ1k9O1IyrhqvHlGEthcIIErJa8ysNaAAxDTAF+AGN7s76obuPPVxFTWt1Y+4enFn4mg7TAsIEsN2LfB2CagHhiOogIW1GqkFRTUyMPOSMn61CUBEgAwAMxexvEGECwOZrZh0A8uTtguoBioartC4MNSsgC5cPezGnZgmUQxUHwFkDGZS1j1/h/Qugai4ugFqlulCopdAPAal3JSpnRUAAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 40px;
  margin-left: 125px;
  border: 1px solid var(--main-border-color);
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}

.add {
  display: flex;
  align-items: center;
  font-size: 15px;
  background-size: 25px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAJ9JREFUWEftlcENgDAMA93JYDNgM9gMReqjH3It4gHCkXigIDDn1Cl6WZWX6ZEFkSMm9EtCs6Sp/vkhaScKWf+JGVolLfUjm6S4v10WROhMyIR+d8ra0LuyP56JKypCkYIxDU86ZW3o0Tz29tPw/Jyg1o7MspFdltpKhHps8C4jSiZkQkSA+p4hIjS6y9L3PRGMJHiob0GEy4RMiAhQ/wT0xTAl9OWKcwAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 35px;
  margin-left: 100px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

.menubtn {
  display: flex;
  align-items: center;
  font-size: 15px;
  background-size: 25px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAH9JREFUWEft1UsKgDAMANH05npypTsXtYOGQAvTbaikLx9bLHbaYvmECVFFFFKIBCi+VQ9d9JpkfIgxEzKhLr5VDyVb5N91hchtJnREROWknaPkHPuHyufF2EtWeYbfd8qIXKGMUOUOev2Puocye4jKXRJ3yohVIYVIgOL2EAndFg4LJcntgd8AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 35px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

.update {
  font-size: 12px;
  color: var(--dark-gray-color);
}

.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.column {
  background: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  margin: 10px;
}
.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  font-size: 14px;
  padding: 15px 10px 10px 10px;
}
.column-count {
  width: 40px;
  text-align: center;
  background-color: var(--cnt-bg-color);
  line-height: 20px;
  height: 20px;
  border-radius: 20px;
}
.icon-plus:hover {
  cursor: pointer;
}
.column-title {
  width: 80%;
  font-size: 14px;
  font-weight: bold;
}
.column-icon-add:hover {
  cursor: pointer;
  color: var(--border-active-color);
}
.note-list {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  margin: 0;
  /* firefox */
  scrollbar-color: #dbdbdb;
  scrollbar-width: 10px;
}
/* chrome, safari */
.note-list::-webkit-scrollbar {
  width: 10px;
}
.note-list::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);
  border-radius: 5px;
}
.note-list::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.column-footer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding: 10px;
  border-top: 1px solid var(--main-border-color);
  font-size: 12px;
}
.footer-title {
  border: 1px solid var(--main-border-color);
  font-weight: bold;
  border-radius: 10px;
  padding: 1px 5px;
}
.footer-btn {
  color: var(--border-active-color);
}
.footer-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.note-container {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 13px 8px 8px 8px;
  overflow: auto;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  background-color: #ffffff;
}
.note-container:active {
  box-shadow: 2px 2px 1px var(--border-active-color), -2px -2px 1px var(--border-active-color),
    2px -2px 1px var(--border-active-color), -2px 2px 1px var(--border-active-color);
}
box-icon {
  height: 17px;
}
.note-content p {
  margin-top: 0px;
}
.note-content {
  font-size: 0.9rem;
  min-height: 33px;
  margin-bottom: 5px;
}
.note-content-view {
  text-align: justify;
  line-break: anywhere;
}
/* TODO : .block 추가하여 active component 결정 */
.block {
  display: none;
}
.note-content-input {
  /* TODO : e.scrollHeight로 height 동적으로 변경 */
  width: 95%;
  overflow: visible;
}
.note-edit-btn,
.note-delete-btn {
  border: 1px solid #ffffff;
  height: 20px;
  width: 20px;
  align-items: middle;
  text-align: center;
  background: none;
}
.note-writer {
  margin-top: 10px;
  font-size: 0.8rem;
  color: var(--dark-gray-color);
}
.note-writer-id {
  margin-top: 4px;
  font-size: 0.8rem;
  color: #000000;
}
.add-note-container {
  margin-bottom: 8px;
}

/* height 동적으로 수정 */
.add-note-content-input {
  width: 99%;
  border: 1px solid var(--main-border-color);
}

.add-note-submit-form {
  width: 100%;
  height: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  column-gap: 8px;
}
.note-add-btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(25, 110, 42);
  font-weight: 600;
  color: #ffffff;
}
.note-cancel-btn {
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
}

/* textarea 입력 시 활성화 */
.active {
  background-color: #238636;
}

.draggable.dragging {
  opacity: 0.5;
}
